(setq user-full-name-param "")
(setq user-mail-address-param "")
(setq bin-path-param "")
(setq openai-key-param "")
(setq org-directory-param "")
(setq org-roam-directory-param "")
(setq projectile-project-search-path-param "")
(setq pyenv-directory-param "")
(setq java-home-param "")
(setq lsp-sourcekit-executable-param "")
(setq ejc-connection-name-param "")
(setq ejc-dependencies-param "")
(setq ejc-classpath-param "")
(setq ejc-connection-uri-param "")
